body{
	background-color: blue;
}

.intro{
	background-color: white;
}

#text{
	color: crimson;
}

img:hover{

}

h1:active{

}

/*id tag is more specific than the tag selector
can use many classes in the tag
<div class="big small"> 

style
.big{}
.small{}
 */
